.example-spacer {
    flex: 1 1 auto;
  }
/* .headers{
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff;
} */

.btn {
  padding: 0.55rem 0.95rem;
  line-height: 1.5;
  border-radius: 0.55rem;
  letter-spacing: 0.025em;
  font-size: 1rem;
  border-color: #D1D9E6;
  box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #ffffff;
  margin-right: 50px;
  text-decoration: none;
}
.icon.icon-shape {
  width: 3rem;
  height: 3rem;
}
.shadow-soft {
  box-shadow: 6px 6px 12px #b8b9be, -6px -6px 12px #ffffff !important;
}
.rounded-circle {
  border-radius: 50% !important;
}
.border-light {
  border-color: #D1D9E6 !important;
}
*, *::before, *::after {
  box-sizing: border-box;
}
