<div>
  <form>
    <div class="container">
      <h2 class="section-title wow fadeInUp mt-1" style="visibility: visible; animation-name: fadeInUp;color: #454360;font-family: Rubik, sans-serif;
    font-weight: 700; font-size: 78px;text-align: center;">Manage Admin Profile !!</h2>
      <div class="row mb-4 mb-lg-5">
        <div class="col-lg-4 col-sm-6">
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Form -->
          <div class="form-group">
            <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Country</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
              <option selected="">Choose...</option>
              <option value="1">United States</option>
              <option value="2">Germany</option>
              <option value="3">Canada</option>
            </select>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" style="min-height: 150px;" placeholder="Enter your message..."
              id="exampleFormControlTextarea1" rows="4"></textarea>
          </div>
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
          <!-- Form -->
          <div class="form-group mb-4">
            <label for="exampleInputEmail67">Admin Name</label>
            <input type="email" class="form-control" placeholder="Admin Name" id="exampleInputEmail67"
              aria-describedby="emailHelp">
            <span></span>
          </div>
          <!-- End of Form -->
        </div>
        <button type="submit" class="btn btn-block btn-primary">Update</button>
      </div>
    </div>
  </form>
</div>
<div class="row justify-content-center mb-5">
  <div class="col-12 col-md-8 col-lg-6 justify-content-center">
    <div class="card bg-primary shadow-soft border-light p-1">
      <!-- <div class="card-header text-center pb-0">
        <h2 class="h4">Change Your Password</h2>
      </div> -->
      <div class="card-body">
        <form action="#" class="mt-4">
          <!-- Form -->
          <div class="form-group">
            <label for="exampleInputPassword6">Current Password</label>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
              </div>
              <input class="form-control" id="exampleInputPassword6" placeholder="Password" type="password"
                aria-label="Password" required="">
            </div>
          </div>
          <!-- End of Form -->
          <div class="form-group">
            <!-- Form -->
            <div class="form-group">
              <label for="exampleInputPassword6">Password</label>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                </div>
                <input class="form-control" id="exampleInputPassword6" placeholder="Password" type="password"
                  aria-label="Password" required="">
              </div>
            </div>
            <!-- End of Form -->
            <div class="form-group">
              <label for="exampleInputPassword6">Re-Password</label>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                </div>
                <input class="form-control" id="exampleInputPassword6" placeholder="Password" type="password"
                  aria-label="Password" required="">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-block btn-primary">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>
