<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">low_priority</mat-icon>
      &nbsp;
      Newspaper Policies
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      <div class="columns small-12 medium-12 large-12 xlarge-8">
        <div data-sc="turnaway-preview" id="article_preview_image" class="turn-away-content__article-preview">
          <div class="view-preview-title" data-qa="view_preview_title" tabindex="0">
            <h3 level="2" no-margin="" preset="2">Preview</h3>
          </div>
          <div class="view-preview-hover-content">
            <h3 level="2" preset="2">Preview</h3>
          </div>

          <div class="relative scan-image-wrapper loading">
            <img class="preview-image page-scan-container" src="/page-scan-delivery/get-page-scan/30000403/0"
              data-page="" data-last="1" alt="">
          </div>
        </div>
        <div class="turn-away-content__article-information">
          <!-- Abstract Block  -->
          <h3 level="3" preset="2">Abstract</h3>
          <div class="turnaway-summary-preview">
            <p class="summary-paragraph">Newspaper readers more readily trust news than advertising content. Therefore,
              journalists and media scholars consider it important that audiences can distinguish between news stories
              and advertisements. The authors collected survey responses from 321 daily newspapers on their standards
              for acceptable advertising for publication. The responses were analyzed to discover if advertising
              acceptance policies and practices reflect publications' willingness to blur the lines between news and
              advertising sections. The data indicate that most newspapers are careful about letting advertisers pretend
              their messages are really news stories. In general, newspapers 'journalistic priorities for honesty
              influence their advertising policies. A few newspapers may use the editorial content to help sell
              advertising space and otherwise blur the lines between news and advertising content, but it is not a
              common and widespread problem.</p>
          </div>
          <!-- Journal Information -->
          <div>
            <h3 level="3" preset="2">Journal Information</h3>
            <div class="turnaway-summary-preview">
              <p class="summary-paragraph">Journal of Public Policy &amp; Marketing publishes thoughtful articles on how
                marketing practice shapes and is shaped by societally important factors, such as ecology, safety,
                health, consumer vulnerability, deregulation, privacy, and the legal and regulatory environments. The
                journal serves a growing interest group and illustrates the contribution of marketing in the legal and
                regulatory venue. Published quarterly, peer-reviewed articles help marketing professionals, professors,
                and students keep abreast of the latest government regulations and legal standards regarding marketing
                practices. Articles, written by scholars from fields such as economics, consumer affairs, government,
                marketing, and public policy, contain new perspectives, empirical results, and research methods, as well
                as careful analyses of how well consumers' needs are being met as they strive to improve the quality of
                their lives and make efficient choices against a backdrop of sophisticated and innovative marketing
                activity.</p>
            </div>
          </div>
          <div>
            <h3 level="3" preset="2">Publisher Information</h3>
            <div class="turnaway-summary-preview">
              <p class="summary-paragraph">Sara Miller McCune founded SAGE Publishing in 1965 to support the
                dissemination of usable knowledge and educate a global community. SAGE is a leading international
                provider of innovative, high-quality content publishing more than 900 journals and over 800 new books
                each year, spanning a wide range of subject areas. A growing selection of library products includes
                archives, data, case studies and video. SAGE remains majority owned by our founder and after her
                lifetime will become owned by a charitable trust that secures the company’s continued independence.
                Principal offices are located in Los Angeles, London, New Delhi, Singapore, Washington DC and Melbourne.
                www.sagepublishing.com </p>
            </div>
          </div>
          <div>
            <h3 level="3" preset="2">Rights &amp; Usage</h3>
            <p class="summary-paragraph">
              <strong>This item is part of a JSTOR Collection.</strong> <br>
              For terms and use, please refer to our <a href="https://about.jstor.org/terms/" target="_blank"
                title="This link opens in a new window">Terms and Conditions </a> <br>
              <!-- Copyright statements -->
              Journal of Public Policy &amp; Marketing
              <br>
              <!-- Request permissions -->
              <a class="ccc-logo" id="copyright_citation_url"
                href="https://marketplace.copyright.com/rs-ui-web/mp/search/journal/07439156" target="_blank"
                title="This link opens in a new window">
                Request Permissions
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">settings</mat-icon>
      &nbsp;
      General
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_box</mat-icon>
      &nbsp;
      Profile
    </ng-template>
    <div class="example-large-box mat-elevation-z4">

    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">account_balance_wallet</mat-icon>
      &nbsp;
      Working Task
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">lock</mat-icon>
      &nbsp;
      Password
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab label="Long tab">
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">verified_user</mat-icon>
      &nbsp;
      verification
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">control_point_duplicate</mat-icon>
      &nbsp;
      Points
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">security</mat-icon>
      &nbsp;
      Two-factor authentication
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">fingerprint</mat-icon>
      &nbsp;
      Manage Sessions
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Large content
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">feedback</mat-icon>
      &nbsp;
      Others
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Others
    </div>
  </mat-tab>
</mat-tab-group>
