.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}



.example-large-box {
  height: auto;
  width: 95%;
}

/* custom */
.list-group-item {
  padding: 8px 15px;
  margin-bottom: -1px;
  font-size: 13px;
}
.summary-paragraph{
  font:icon;
  color: black;
}
